<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<h2>Groups</h2>
<% @user.groups.each do |group| %>
  <p>
    <b>Group Name:</b>
    <%= group.name %>
  </p>
 
  <p>
    <b>Description:</b>
    <%= group.description %>
  </p>

  <p>
    <%= link_to "Unsubscribe", "/users/" + "#{@user.id}" + "/unsubscribe" + "?group_name=#{group.name}&user_name=#{@user.name}" %>
    <%= link_to "Delete", "/groups/" + "#{group.id}", :method => :delete %>
  </p>

<% end %>

<h2>Add a group:</h2>
<%= form_for([@user, @user.groups.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Invitations recv</h2>
<% @user.recv_invitations.each do |inv| %>
  <p>
    <b>Group:</b>
    <%= inv.group %>
  </p>
 
  <p>
    <b>Invitation from:</b>
    <%= inv.from %>
  </p>

  <p>
    <b>Description:</b>
    <%= inv.description %>
  </p>

  <p>
    <%= link_to "Accept", "/users/" + "#{@user.id}" + "/invitations/" + "#{inv.id}" + "/accept" + "?user_id=#{@user.id}&inv_id=#{inv.id}" %>
    <%= link_to "Reject", "/users/" + "#{@user.id}" + "/invitations/" + "#{inv.id}" + "/reject" + "?user_id=#{@user.id}&inv_id=#{inv.id}" %>

  </p>
<% end %>

<h2>Invitations sent</h2>
<% @user.sent_invitations.each do |inv| %>
  <p>
    <b>Group:</b>
    <%= inv.group %>
  </p>
 
  <p>
    <b>Invitation to:</b>
    <%= inv.to %>
  </p>

  <p>
    <b>Description:</b>
    <%= inv.description %>
  </p>
  <p>
    <b>Status:</b>
    <%= inv.status %>
  </p>

  <p>
    <%= link_to "Delete invitation", [inv.user, inv], :confirm => "Are you sure?", :method => :delete %>
  </p>
<% end %>

<h2>Invite somebody:</h2>
<%= form_for([@user, @user.sent_invitations.build]) do |f| %>
  <div class="field">
	<%= f.label :to %><br />
	<%= f.text_field :to %>
  </div>
  <div class="field">
	<%= f.label :group %><br />
	<%= f.text_field :group %>
  </div>
  <div class="field">
	<%= f.label :description %><br />
	<%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

		<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
