<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<h2>Groups</h2>
<% @user.groups.each do |group| %>
  <p>
    <b>Group Name:</b>
    <%= group.name %>
  </p>
 
  <p>
    <b>Description:</b>
    <%= group.description %>
  </p>
<% end %>

<h2>Add a group:</h2>
<%= form_for([@user, @user.groups.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
