<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<h2>Groups</h2>
<% @user.groups.each do |group| %>
  <p>
    <b>Group Name:</b>
    <%= group.name %>
  </p>
 
  <p>
    <b>Description:</b>
    <%= group.description %>
  </p>

  <p>
    <%= link_to "Unsubscribe", "/users/" + "#{@user.id}" + "/unsubscribe" + "?group_name=#{group.name}&user_name=#{@user.name}" %>
    <%= link_to "Delete", "/groups/" + "#{group.id}" + "?user_id=#{@user.id}", :method => :delete %>
  </p>

<% end %>

<h2>Add a group:</h2>
<%= form_for([@user, @user.groups.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Invitations</h2>
<% @user.invitations.each do |inv| %>
  <p>
    <b>Group:</b>
    <%= inv.group_name %>
  </p>
 
  <p>
    <b>Invitation from:</b>
    <%= inv.from %>
  </p>

  <p>
    <b>Description:</b>
    <%= inv.description %>
  </p>

<% end %>

<h2>Invite somebody:</h2>
<%= form_for([@user, @user.invitations.build]) do |f| %>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :group_name %><br />
    <%= f.text_area :group_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
