<%= form_for(@tododetail) do |f| %>
  <% if @tododetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tododetail.errors.count, "error") %> prohibited this tododetail from being saved:</h2>

      <ul>
      <% @tododetail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :todo %><br />
    <%= f.text_field :todo %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_area :tag %>
  </div>
  <div class="field">
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :delivered %><br />
    <%= f.text_field :delivered %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
