<h1>Listing tododetails</h1>

<table>
  <tr>
    <th>Todo</th>
    <th>Place</th>
    <th>Note</th>
    <th>Tag</th>
    <th>Status</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tododetails.each do |tododetail| %>
  <tr>
    <td><%= tododetail.todo %></td>
    <td><%= tododetail.place %></td>
    <td><%= tododetail.note %></td>
    <td><%= tododetail.tag %></td>
    <td><%= tododetail.status %></td>
    <td><%= tododetail.priority %></td>
  </tr>
<% end %>
</table>

<br />
