<p id="notice"><%= notice %></p>

<p>
  <b>Todo:</b>
  <%= @tododetail.todo %>
</p>

<p>
  <b>Place:</b>
  <%= @tododetail.place %>
</p>

<p>
  <b>Note:</b>
  <%= @tododetail.note %>
</p>

<p>
  <b>Tag:</b>
  <%= @tododetail.tag %>
</p>

<p>
  <b>Group:</b>
  <%= @tododetail.group %>
</p>

<p>
  <b>Status:</b>
  <%= @tododetail.status %>
</p>

<p>
  <b>Delivered:</b>
  <%= @tododetail.delivered %>
</p>

<h2>Add todo:</h2>
<%= form_for([@group, @group.tododetails.build]) do |f| %>
  <div class="field">
     <%= f.label :todo %><br />
     <%= f.text_field :commenter %>
  </div>
  <div class="actions">
     <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_tododetail_path(@tododetail) %> |
<%= link_to 'Back', tododetails_path %>
