<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<h2>groups</h2>
<%= render :partial => "groups/group",
           :collection => @user.groups %>

<h2>add groups:</h2>
<%= render "groups/form" %>

<br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
