<h1>Listing tododetails</h1>

<table>
  <tr>
    <th>Todo</th>
    <th>Place</th>
    <th>Note</th>
    <th>Tag</th>
    <th>Group</th>
    <th>Status</th>
    <th>Delivered</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tododetails.each do |tododetail| %>
  <tr>
    <td><%= tododetail.todo %></td>
    <td><%= tododetail.place %></td>
    <td><%= tododetail.note %></td>
    <td><%= tododetail.tag %></td>
    <td><%= tododetail.group %></td>
    <td><%= tododetail.status %></td>
    <td><%= tododetail.delivered %></td>
    <td><%= link_to 'Show', tododetail %></td>
    <td><%= link_to 'Edit', edit_tododetail_path(tododetail) %></td>
    <td><%= link_to 'Destroy', tododetail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tododetail', new_tododetail_path %>
